@import url('https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background:#F8F8F8;
    --letter-color:#707070;
    --subtitle-color:#1792D2;
    --title-color:#143774;
}

/*=================
Layout
==================*/

.header{
    background-color: var(--background);
    padding: 2em 0;
}
.header__container{
    width: 90%;
    max-width: 900px;
    margin:0 auto;
}

.header__container--flex{
    display: flex;
    justify-content: space-between;
}

.header__list{
    list-style: none;
    display: flex;
    justify-content: center;
}

.header__links{
    padding-top: 1em;
    margin:0 1em;
}

/*=============
Typography
==============*/

.header__title h1{
    font-size: 2rem;
    font-family: Lora,sans-serif;
    color: var(--title-color);
}

.header__subtitle{
    font-size: .75rem;
    font-family: Ubuntu,sans-serif;
    font-weight: bold;
    color: var(--subtitle-color);
}

/*===============
Navbar
=================*/
.header__links a{
    text-decoration: none;
    color: var(--letter-color);
    font-family: 1rem;
    font-family: Ubuntu,sans-serif;
    font-weight: bold;
    padding: .25em 0;
}

.header__links a:focus,
.header__links a:hover{
    color: var(--subtitle-color);
}

.current__page{
    border-bottom: 2px solid var(--letter-color);
}

/*==========
MediaQueries
===========
*/

@media(max-width:675px){
    .header__container--flex,
    .header__list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
    .header__links{
        padding-bottom: .75em;
    }
    

}